* {
  margin: 0px;
  padding: 0px;
}

.homepage {
  background-image: url(../Images/quiz-bg-resize.png);
  font-family: "Roboto Mono", monospace;
  color: white;
  width: 100vw;
  height: 100vh;
}
.homepage h1 {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 70px;
}

.homepage h3 {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 30px;
  margin-top: 20px;
}
.logo img {
  width: 550px;
  height: 150px;
}
.logo {
  display: flex;
  justify-content: center;
}
.get-started span {
  border: 1px white solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 3px 0px white;
  transition-duration: 0.3s;
}
.get-started span:hover {
  transform: scale(1.1);
}
.enter_name:hover {
  transform: scale(1.2);
}
.get-started {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.new1 {
  width: 120px;
}
.ruler {
  display: flex;
  justify-content: center;
}
.date {
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}
.date-real {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-weight: 300;
  margin-top: 10px;
}
.homepage p {
  margin: 50px 300px;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: rgb(241, 241, 241);
}
