.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: black;
}
.popup_box {
  width: 50%;
  height: 50%;
  border: 8px solid #24575e;
  background-color: white;
  border-radius: 8px;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.popup_box h1 {
  color: rgb(75, 73, 73);
}
.popup_box p {
  color: rgb(100, 98, 98);
  font-size: 1.3rem;
  font-weight: 500;
}
.fa-times-circle {
  color: rgb(240, 112, 112);
  font-size: 7rem;
}
.popup_box span {
  font-size: 1.2rem;
  padding: 8px 15px;
  border: 2px solid blue;
  color: blue;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
